* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-style: initial;
}

.tab {
  float: left;
  background-color: #ffffff;
  width: 35%;
  height: 300px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 50%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  font-weight: bold;
}

.tab button:hover {
  background-color: #ddd;
  border-radius: 8px;
}

.tab button.active {
  background-color: transparent;
  border-bottom: 3px solid #000;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 40%;
  border-left: none;
  height: 300px;
  margin: 0 auto;
}

/* Profıli duzenle Css  */
.foto {
  display: flex;
}
.foto img {
  border-radius: 30px;
}
.button-pp button {
  border: none;
  border-radius: 10px;
  background-color: rgb(227, 236, 236);
  margin: 10px;
  padding: 5px;
}
.button-pp button:hover {
  background-color: #cac3c3;
}
.ad-soyad {
  display: inline-flex;
}
.inpt input {
  border: #dbd9d9 1px solid;
  border-radius: 10px;
  height: 35px;
  margin: 3px;
}
.acıklama {
  font-size: xx-small;
}
.hakkinda input {
  border: #dbd9d9 1px solid;
  border-radius: 10px;
  height: 55px;
  width: 350px;
  margin: 3px;
  font-size: x-small;
}
.website input {
  border: #dbd9d9 1px solid;
  border-radius: 10px;
  height: 35px;
  width: 350px;
  margin: 3px;
  font-size: x-small;
}
.tarihinpt input {
  border: #dbd9d9 1px solid;
  border-radius: 10px;
  height: 35px;
  width: 350px;
  margin: 3px;
}
.cinstype {
  display: flex;
  gap: 40px;
}

.cinstype label {
  cursor: pointer;
}
#ülke {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
}
#dil {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
}
.hesapyntm input {
  border: #dbd9d9 1px solid;
  border-radius: 10px;
  height: 35px;
  width: 350px;
  margin: 3px;
  font-size: x-small;
}
.hsp1 button {
  border: none;
  border-radius: 20px;
  background-color: rgb(227, 236, 236);
  margin: 10px;
  padding: 14px;
  width: 280px;
}
.hsp1 button:hover {
  background-color: #cac3c3;
}
.hsp1 {
  display: flex;
}
.hsp2 button {
  border: none;
  border-radius: 20px;
  background-color: rgb(227, 236, 236);
  margin: 10px;
  padding: 14px;
  width: 230px;
}
.hsp2 button:hover {
  background-color: #cac3c3;
}
.hsp2 {
  display: flex;
}
.hsp2 p {
  margin-right: auto;
}
.hsp3 button {
  border: none;
  border-radius: 20px;
  background-color: rgb(227, 236, 236);
  margin: 10px;
  padding: 14px;
  width: 100px;
}
.hsp3 button:hover {
  background-color: #cac3c3;
}
.hsp3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hsp3 p {
  margin-right: auto;
}
.websiteicon {
  display: flex;
  align-items: center;
}
.material-icons {
  margin-right: 10px;
}
.websiteicon button {
  border: none;
  border-radius: 20px;
  background-color: rgb(227, 236, 236);
  margin: 10px;
  padding: 14px;
  width: 200px;
  margin-left: auto;
}
.websiteicon button:hover {
  background-color: #cac3c3;
}
.inpt {
  display: flex;
}

.msj1 {
  display: flex;
}
.msj1 p {
  margin-right: auto;
}
.msj1 button {
  border: none;
  border-radius: 20px;
  background-color: rgb(227, 236, 236);
  margin: 1px;
  padding: 4px;
  width: 100px;
}
.msj1 button:hover {
  background-color: #cac3c3;
}

.reklamlabel input {
  transform: scale(1.8);
}
.labelcontainer {
  display: flex;
  align-items: center;
}

.label-1 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.label-2 {
  margin-right: 10px;
}
.label-1 input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}
.label-1 input:checked {
  background-color: black;
  border-color: black;
}
.label-1 input:checked::before {
  content: "✓";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.label-2 input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}
.label-2 input:checked {
  background-color: black;
  border-color: black;
}
.label-2 input:checked::before {
  content: "✓";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
