<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Pinterest</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/homepage.css" />
  <link rel="stylesheet" href="../static/emoji_css/css/styles.css">

</head>

<body>
  
  {% include "includes/_navbar.html" %}

  {% block content %}

    {% for pin in pins %}
      <div class="gridd">
        <!-- İmage Card -->
        <div class="item">
        <a href="{% url 'pins' pin.id %}">
          <img class="img_item" src="{{pin.image.url}}" alt="" />
        </a>
          
          <div class="dropdown board-button">
            <button class="btn btn-secondary dropdown-toggle no-style" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if pin.get_recent_board %}
              <strong>{{ pin.get_recent_board.name }} <img src="/static/img/211687_down_arrow_icon_white.svg" alt=""></strong>
            {% else %}
              <strong> Pano Seçiniz <img src="/static/img/211687_down_arrow_icon_white.svg" alt=""></strong>
            {% endif %}
                
            </button>
            <ul class="dropdown-menu">
                {% for board in boards %}
                <li>
                    <form action="{% url 'assign_pin_to_board' 'pin' pin.id 0 board.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="board_id" value="{{ board.id }}">
                        <input type="hidden" name="pin_type" value="{{ pin_type }}">
                        <button type="submit" class="dropdown-item">{{ board.name }}</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
          </div>
          {% if pin.get_recent_board %}
          <form action="{% url 'assign_pin_to_board' 'pin' pin.id 0 pin.get_recent_board.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="board_id" value="{{ pin.get_recent_board.id }}">
            <input type="hidden" name="pin_type" value="pin">
            <button type="submit" class="kaydet-button">Kaydet</button>
          </form>
          {% else %}
            <button class="kaydet-button" disabled>Kaydet</button>
          {% endif %}

          <i class="button_arrow bi bi-box-arrow-up"></i>
          <i class="button_points bi bi-three-dots"></i>
        </div>
      </div>

    {% endfor %}
    {% for ideapin in ideapins %}
      <div class="gridd">
        <!-- İmage Card -->
        <div class="item">
        <a href="{% url 'ideapins' ideapin.id %}">
          <img class="img_item" src="{{ideapin.image.url}}" alt="" />
        </a>

          <div class="dropdown board-button">
            <button class="btn btn-secondary dropdown-toggle no-style" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if ideapin.get_recent_board %}
              <strong>{{ ideapin.get_recent_board.name }} <img src="/static/img/211687_down_arrow_icon_white.svg" alt=""></strong>
            {% else %}
              <strong>Pano Seçiniz <img src="/static/img/211687_down_arrow_icon_white.svg" alt=""></strong>
            {% endif %}
                
            </button>
            <ul class="dropdown-menu">
                {% for board in boards %}
                <li>
                    <form action="{% url 'assign_pin_to_board' 'ideapin' 0 ideapin.id board.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="board_id" value="{{ board.id }}">
                        <input type="hidden" name="pin_type" value="{{ pin_type }}">
                        <button type="submit" class="dropdown-item">{{ board.name }}</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
          </div>
          {% if ideapin.get_recent_board %}
          <form action="{% url 'assign_pin_to_board' 'ideapin' 0 ideapin.id ideapin.get_recent_board.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="board_id" value="{{ ideapin.get_recent_board.id }}">
            <input type="hidden" name="pin_type" value="ideapin">
            <button type="submit" class="kaydet-button">Kaydet</button>
          </form>
          {% else %}
          <button class="kaydet-button" disabled>Kaydet</button>
          {% endif %}

          <i class="button_arrow bi bi-box-arrow-up"></i>
          <i class="button_points bi bi-three-dots"></i>
        </div>
      </div>
    {% endfor %}
  
  <script>
    // Resimlerin boyutlarını ayarlayan Javascript kodu
    let secondClassNames = ["small", "medium", "large", "xlarge"];

    let itemElements = document.querySelectorAll(".item");

    itemElements.forEach(function (item) {
      let randomIndex = Math.floor(Math.random() * secondClassNames.length);
      let randomSecondClass = secondClassNames[randomIndex];
      item.classList.add(randomSecondClass);
    });
  </script>

  {% endblock content %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>