<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Pinterest</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/homepage.css" />

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="bi bi-pinterest fs-4 text-danger"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link black-button" aria-current="page" href="#">Ana Sayfa</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Oluştur
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'create_idea_pin' %}">Fikir Pini Oluştur</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'create_pin' %}">Pin Oluştur</a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex w-75 ms-5 me-5" role="search">
          <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search" />
        </form>
        <div class="d-flex display-6 ">
          <i class="bi bi-bell-fill"></i>
          <i class="bi bi-chat-dots-fill"></i>


  </nav>
  {% for pin in pins %}
  <div class="gridd">
    <!-- İmage Card -->
    <div class="item">
      <img class="img_item" src="{{pin.image.url}}" alt="" />
      <button>Kaydet</button>
      <i class="button_arrow bi bi-box-arrow-up"></i>
      <i class="button_points bi bi-three-dots"></i>
    </div>
  </div>

  {% endfor %}
  {% for ideapin in ideapins %}
  <div class="gridd">
    <!-- İmage Card -->
    <div class="item">
      <img class="img_item" src="{{ideapin.image.url}}" alt="" />
      <button>Kaydet</button>
      <i class="button_arrow bi bi-box-arrow-up"></i>
      <i class="button_points bi bi-three-dots"></i>

    </div>
  </div>

  {% endfor %}

  <script>
    // Resimlerin boyutlarını ayarlayan Javascript kodu
    let secondClassNames = ["small", "medium", "large", "xlarge"];

    let itemElements = document.querySelectorAll(".item");

    itemElements.forEach(function (item) {
      let randomIndex = Math.floor(Math.random() * secondClassNames.length);
      let randomSecondClass = secondClassNames[randomIndex];
      item.classList.add(randomSecondClass);
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>