{% extends "homepage.html" %}
{% load static %}
{% block content %}

    {% if messages %}

    {% for mesaj in messages %}
    <div class="alert alert-{{mesaj.tags}} text-center">
    {{mesaj}}
    </div>
    {% endfor %}

    {% else %}
    {% endif %}

    <div class="container mt-5 d-flex align-items-center justify-content-center">
        <div class="row border" style="border-radius: 25px;  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);">
            <div class="col-6 p-0">
                <img src="{{ideapins.image.url}}" width="100%" height="100%" style="border-radius: 25px 0px 0px 25px; object-fit: cover;" alt="">
            </div>

            <div class="col-6 p-0">
                <div class="d-flex align-items-center justify-content-evenly mt-3">
                    <button class="icon-button"><img class="icon-img" src="/static/img/8666602_more_horizontal_icon.svg" alt=""></button>
                    <button class="icon-button"><img class="icon-img" src="/static/img/8666724_upload_icon.svg" alt=""></button>
                    <button class="icon-button"><img class="icon-img" src="/static/img/8666769_link_connection_icon.svg" alt=""></button>
                    <button class="icon-button">
                    {% for board in boards %}
                        <strong>{{board.name}} <img src="/static/img/8666558_chevron_down_icon.svg" alt=""></strong>
                    {% endfor %}
                    </button>
                    <button class="detay-kaydet-button">Kaydet</button>
                </div>
                <div class="ms-4 mt-3 mb-3">
                    <h3>{{ideapins.title}}</h3>
                    <p>{{ideapins.description}}</p>
                    <div class="d-flex align-items-center">
                    {% for profil in profiller %}
                    <img src="{{profil.resim.url}}" width="32" height="32" class="rounded-5 me-2 mb-2" style="margin-top: 10px;" alt="">
                    {% endfor %}
                    <strong class="mb-0 mt-1">{{ideapins.user}}</strong> 
                    </div>
                </div>
                <div class="d-flex ms-4">
                    <h3 class="me-2">Yorumlar</h3> <button id="toggle-comments" style="background-color:transparent;border:none;"  class="comment-button"><img src="/static/img/8666558_chevron_down_icon.svg" alt=""></button>
                </div>
                <div id="comments-section">
                    {% if comments %}
                    {% for comment in comments %}
                    <div class="d-flex align-items-center">
                    {% for profil in profiller %}
                    <img src="{{profil.resim.url}}" width="32" height="32" class="rounded-5 me-2  ms-4" style="margin-top: 10px;" alt="">
                    {% endfor %}
                    <strong class="me-2 mt-1">{{comment.commenter.username}}</strong><p class="mb-0 mt-1" style="overflow-wrap: break-word; word-break: break-all;">{{ comment.content }}</p>
                    </div>
                    {% endfor %}

                    {% else %}

                        <p style="color:gray;" class="ms-4">Henüz yorum yok! Sohbeti başlatmak için bir tane ekleyin.</p>

                    {% endif %}
                </div>
                    <hr>
                    <div class="add-comment-section ms-4">
                        {% if comments %}
                        <h3>{{count}} Yorum</h3>
                        {% else %}
                        <h3>Ne düşünüyorsunuz?</h3>
                        {% endif %}
                        <div class="d-flex flex-fill align-items-stretch me-2 p-2">
                        {% for profil in profiller %}
                            <img src="{{profil.resim.url}}" width="48" height="48" class="rounded-5" style="margin-top: 10px;" alt="">
                        {% endfor %}
                        <form method="post" class="d-flex flex-grow-1" style="padding: 10px;" action="{% url 'create_comment' content_type.id ideapins.id %}">
                            {% csrf_token %}
                            <textarea name="content" placeholder="Yorum ekle" style="background-color: #F0F2F5; border: none; border-radius: 25px; padding: 10px 15px; font-size: 15px; resize: none; height: 50px; line-height: 28px;"class="form-control me-2"></textarea>
                            <input type="submit" value="Submit">
                        </form> 
                    </div>
            </div>
        </div>           
    </div>

    <script>
        
        // button ve comment kısmını atama yapıyoruz
        var toggleButton = document.getElementById('toggle-comments');
        var commentSection = document.getElementById('comments-section');
        // button img degisimi icin atama yapıyoruz
        var buttonImage = toggleButton.querySelector('img');
    
        // buttona event listener ekliyoruz
        toggleButton.addEventListener('click', function() {
            // yorumları göster veya gizle için if statement
            if (commentSection.style.display === 'none') {
                commentSection.style.display = 'block';
                // button acıkken asagıyı gösteren img
                buttonImage.src = '/static/img/8666558_chevron_down_icon.svg'
            } else {
                commentSection.style.display = 'none';
                // button kapalıyken sag tarafı gösteren img
                buttonImage.src = '/static/img/8666777_chevron_right_arrow_icon.svg'
            }
        });
    </script>
{% endblock content %}
