{% extends "index.html" %}  <!-- bu extends sonra homepage.html ile değiştirilecek-->
{% load static %}
{% block content %}
    <div class="container mt-5 d-flex align-items-center justify-content-center">
        <div class="row border rounded-2 p-4">
            <div class="col-4">
                <img src="{{pins.image.url}}" width="100%" style="border-radius: 10px;" alt="">
            </div>

            <div class="col-8">
                <h3>{{ideapins.title}}</h3>
                <span>{{ideapins.description}}</span>
                <p>{{ideapins.user}}</p>  
                <h2>Comments</h2>
                {% for comment in comments %}
                    <div class="d-flex">
                    <strong class="me-2">{{comment.commenter.username}}</strong><strong class="me-2">|</strong><p>{{ comment.content }}</p>
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center me-2 p-2">
                {% for profil in profiller %}
                    <img src="{{profil.resim.url}}" width="50" height="50" class="rounded-5" style="margin-top: 10px;" alt="">
                {% endfor %}
                <form method="post" class="d-flex p-2" action="{% url 'create_comment' content_type.id ideapins.id %}">
                    {% csrf_token %}
                    <textarea name="content" class="form-control me-2"></textarea>
                    <input type="submit" value="Submit">
                </form>               
            </div>
        </div>           
    </div>
{% endblock content %}
