{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest Homepage</title>
    <!-- Bootstrapt icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>

<body>
    <!-- NAVBAR -->

    <nav class="navbar">
        <div class="container-fluid mx-4 nav justify-content-between align-items-center">
            <div>
                <a href="/"><img src="/static/img/Pinterest-Logo.png" alt="" width="100px"></a>
            </div>
            <div class="nav gap-3" id="">
                <ul class="nav gap-3 align-items-center">
                    <li><a class="text-black text-decoration-none" href="{% url 'about' %}" target="_blank">Hakkında</a>
                    </li>
                    <li><a class="text-black text-decoration-none" href="{% url 'business' %}" target="_blank">İş
                            Dünyası</a></li>
                    <li><a class="text-black text-decoration-none" href="{% url 'blog' %}" target="_blank">Blog</a></li>
                </ul>
                <div class="nav gap-2 navbtn">
                    <button type="button" class="btn btn-danger text-white" target="_blank"><a href="{% url 'login' %}"
                            style="text-decoration:none; color:inherit">Oturum Aç</a></button>
                    <button type="button" class="btn btn-light" target="_blank"><a href="{% url 'register' %}"
                            style="text-decoration:none; color:inherit">Kaydol</a></button>
                </div>

            </div>

        </div>

    </nav>

    {% block content %}

    <!-- grid animasyon ve text animasyon -->
    <div class="heading">
        <span class="title">Sıradaki fikri bulun</span>
        <div class="wrapper">
            <div class="offsetone">
                <h2 class="text animate-before">haftaiçi akşam yemeği fikri</h2>
            </div>
            <div class="offsettwo">
                <h2 class="text animate-before">ev dekorasyon fikri</h2>
            </div>
            <div class="offsetthree">
                <h2 class="text animate-before">yeni giyim stili</h2>
            </div>
            <div class="offsetfour">
                <h2 class="text animate-before">bahçecilik fikri</h2>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid">
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon1.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon2.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon3.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon4.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/giyim1.jpg" alt=""></div>
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek1.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>

            </div>
        </div>
        <div class="grid">
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon1.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon2.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon3.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon4.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/giyim1.jpg" alt=""></div>
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek1.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>

            </div>
        </div>
        <div class="grid">
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon1.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon2.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon3.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon4.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/giyim1.jpg" alt=""></div>
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek1.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>

            </div>
        </div>

        <div class="grid">
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon1.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon2.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon3.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon4.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/giyim1.jpg" alt=""></div>
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek1.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>

            </div>
        </div>

        <!-- scroll button -->

        <button class="scroll-btn" onclick="scrollToTargetSection()">
            <div class="circle">
                <div class="arrow-down"></div>
            </div>
        </button>

    </div>

    <!-- İkinci kısım -->

    <div id="targetSection">
        <div class="content">

            <div class="section">
                <div class="d-flex justify-content-center mb-5 HTW">
                    <button class="btn-text" onclick="scrollToTargetSection()">Bu, bu şekilde işler <i
                            class="bi bi-chevron-down"></i> </button>

                </div>
            </div>


            <div class="row align-items-center">
                <div class="col">
                    <img class="img-fluid origin" src="/static/img/yemekcenter.png" alt="">
                    <img class="img-fluid left" src="/static/img/yemek3.jpg" alt="">
                    <img class="img-fluid right" src="/static/img/yemek2.jpg" alt="">
                    <img class="img-fluid bottom" src="/static/img/yemek4.jpg" alt="">
                </div>

                <div class="col">
                    <h1>Bir fikir arayın</h1>
                    <p>Şimdi ne denemek istersiniz? "Kolay tavuk yemeği" gibi ilgilendiğiniz bir şey düşünün ve neler
                        bulacağınıza bakın.</p>
                    <button class="bg-danger ">Keşfet</button>
                </div>

            </div>


        </div>

    </div>


    <!-- Üçüncü kısım -->

    <div class="header">
        <div class="row align-items-center">
            <div class="col-6">
                <h1>Beğendiğiniz fikirleri <br> kaydedin</h1>
                <p class="text-center ms-4">En beğendiğiniz fikirlere daha <br> sonra geri dönmek için kaydedin.</p>
                <button class="btn">Keşfet</button>
            </div>




            <div class="col-3">


                <div class="future">
                    <a href="#"><img src="/static/img/future.png" alt=""></a>
                    <a href="#">
                        <p>Aşk <br> merdiveni ev <br> temaları</p>
                        <img class="home1" src="/static/img/future-home1-f4037b6b.png" alt="">
                        <img class="home2" src="/static/img/future-home2-c70a8738.png" alt="">
                        <img class="home3" src="/static/img/future-home3-ac09e50f.png" alt="">
                    </a>
                </div>

                <div class="drink">
                    <a href="#"><img src="/static/img/drinks.png" alt=""></a>
                    <a href="">
                        <p>Stil dolu <br> içecek <br> servisi</p>
                    </a>
                </div>

            </div>

            <div class="col-3">

                <div class="design">

                    <div class="scandinav">
                        <a href="#"><img src="/static/img/scandinavian.png" alt=""></a>
                        <a href="">
                            <p>İskandinav <br> yatak odam</p>
                        </a>
                    </div>


                    <div class="deck">
                        <a href="#"><img src="/static/img/deck.png" alt=""></a>
                        <a href="">
                            <p>Hayallerimin <br> güvertesi</p>
                        </a>
                    </div>

                    <div class="bathroom">
                        <a href="#"><img src="/static/img/bathroom.png" alt=""></a>
                        <a href="">
                            <p>Yeni <br> banyomuz</p>
                        </a>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <!-- Dördüncü kısım -->

    <div class="mantion">
        <div class="pinone-container">
            <a href="#"><img class="pinone" src="/static/img/doit1.png" alt=""></a>
            <a href="#"><img class="pintwo" src="/static/img/doit2.png" alt=""></a>
            <a href="#"><img class="pinthree" src="/static/img/doit3.png" alt=""></a>
            <p>Scout the City <br> 56.7 bin takipçi</p>

        </div>
        <div class="col">
            <h1>Gör, üret, <br> dene, yap</h1>
            <p class="text-center ms-4">Pinterest'in en iyi yanı dünyanın her <br> yerindeki kullanıcılardan yeni şeyler
                ve <br> fikirler keşfetmek.</p>
            <button class="bg-danger">Keşfet</button>
        </div>
    </div>

    <!-- Beşinci Bölüm -->

    <div class="background">

       
        <div class="gallery">
            <div class="image-div" style="background-image: url('/static/img/drinks.png');"></div>
            <div class="image-div" style="background-image: url('/static/img/ızgara2.jpg');"></div>
            <div class="image-div" style="background-image: url('/static/img/ızgara3.jpg');"></div>
            <div class="image-div" style="background-image: url('/static/img/ızgara4.jpg');"></div>
            <div class="image-div" style="background-image: url('/static/img/ızgara5.jpg');"></div>
            <div class="image-div" style="background-image: url('/static/img/ızgara6.jpg');"></div>
            <div class="image-div" style="background-image: url('/static/img/ızgara7.jpg');"></div>
            <div class="image-div" style="background-image: url('/static/img/ızgara8.jpg');"></div>
            <div class="image-div" style="background-image: url('/static/img/yemek1.jpg');"></div>
            <div class="image-div" style="background-image: url('/static/img/yemek2.jpg');"></div>
            <div class="image-div" style="background-image: url('/static/img/yemek3.jpg');"></div>
            <div class="image-div" style="background-image: url('/static/img/yemek4.jpg');"></div>

        </div>
        <div class="col-text">
            <h1>Fikirlerinizi <br> bulmak için <br> kaydolun</h1>
        </div>

        <!-- Kaydol ve form bölümü -->
        <div class="col-form">
            <div class="form-container">
                <div class="logo">
                    <a href="#"><img src="/static/img/Pinterest-Logo.png" alt="" width="100px"></a>
                </div>
                <h1>Pinterest'e Hoşgeldiniz</h1>
                <p>Bir sonraki tutkunuzu keşfedin.</p>

                <form>
                    <label for="">E-posta</label>
                    <input type="email" placeholder="E-posta">
                    <label for="">Parola</label>
                    <input type="password" placeholder="Parola">
                    <label for="">Doğum tarihi</label>
                    <input type="date" placeholder="Doğum Tarihi">
                    <button type="submit">Devam Et</button>
                </form>

                <p>VEYA</p>

                <button class="facebook-button">
                    <i class="fa-brands fa-facebook"></i>
                    Facebook ile Devam Et
                </button>
                <button class="google-button">
                    <i class="fa-brands fa-google"></i> 
                    Google ile Devam Edin
                </button>
                <p class="text">Kaydolarak, hizmet şartlarını ve gizlilik politikasını <br> kabul etmiş olursunuz.</p>
            </div>
        </div>
        <div class="center-button">
            <a href="#" class="round-button">
                <span class="arrow-up"></span>
            </a>
        </div>
    </div>

    <!-- Footer Bölümü -->
    <footer class="footer">
        <ul class="footer-menu">
            <li><a href="#">Hizmet Şartları</a></li>
            <li><a href="#">Gizlilik Politikası</a></li>
            <li><a href="#">Yardım</a></li>
            <li><a href="#">iPhone Uygulaması</a></li>
            <li><a href="#">Android Uygulaması</a></li>
            <li><a href="#">Kullanıcılar</a></li>
            <li><a href="#">Koleksiyonlar</a></li>
            <li><a href="#">Alışveriş</a></li>
            <li><a href="#">Bugün</a></li>
            <li><a href="#">Keşfet</a></li>
        </ul>
    </footer>



    {% endblock content %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <!-- Main JS -->
    <script src="{% static 'main.js' %}"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ec4bff98c2.js" crossorigin="anonymous"></script>
</body>

</html>