{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest Homepage</title>
        <!-- Bootstrapt icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
        <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <!-- NAVBAR -->

    <nav class="navbar">
        <div class="container-fluid mx-4 nav justify-content-between align-items-center">
          <div>
            <a href="#"><img src="/static/img/Pinterest-Logo.png" alt="" width="100px"></a>
          </div>
          <div class="nav gap-3" id="">
            <ul class="nav gap-3 align-items-center">
              <li><a class="text-black text-decoration-none" href="" target="_blank">Hakkında</a></li>
              <li><a class="text-black text-decoration-none" href="" target="_blank">İş Dünyası</a></li>
              <li><a class="text-black text-decoration-none" href="" target="_blank">Blog</a></li>
            </ul>
            <div class="nav gap-2 navbtn">
              <button type="button" class="btn btn-danger text-white">Oturum Aç</button>
              <button type="button" class="btn btn-light ">Kaydol</button>
            </div>
       
        </div>
        
        </div>
    
      </nav>

      {% block content %}

    <!-- grid animasyon ve text animasyon -->
    <div class="heading">
            <span class="title">Sıradaki fikri bulun</span>
            <div class="wrapper">
                <div class="offsetone"><h2 class="text animate-before">haftaiçi akşam yemeği fikri</h2></div>
                <div class="offsettwo"><h2 class="text animate-before">ev dekorasyon fikri</h2></div>
                <div class="offsetthree"><h2 class="text animate-before">yeni giyim stili</h2></div>
                <div class="offsetfour"><h2 class="text animate-before">bahçecilik fikri</h2></div>
            </div>
    </div>

    <div class="grid-container">
        <div class="grid">
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon1.jpg" alt=""></div>

            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon2.jpg" alt=""></div>
                        
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon3.jpg" alt=""></div>
                        
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon4.jpg" alt=""></div>
                       
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/giyim1.jpg" alt=""></div>
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek1.jpg" alt=""></div>
                    
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>
                    
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>        
              
            </div>
        </div>
        <div class="grid">
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon1.jpg" alt=""></div>
                         
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon2.jpg" alt=""></div>
                        
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon3.jpg" alt=""></div>
                        
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon4.jpg" alt=""></div>
                       
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/giyim1.jpg" alt=""></div>
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek1.jpg" alt=""></div>
                    
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>
                    
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>        
              
            </div>
        </div>
        <div class="grid">
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon1.jpg" alt=""></div>
                         
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon2.jpg" alt=""></div>
                        
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon3.jpg" alt=""></div>
                        
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon4.jpg" alt=""></div>
                       
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/giyim1.jpg" alt=""></div>
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek1.jpg" alt=""></div>
                    
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>
                    
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>        
              
            </div>
        </div>

        <div class="grid">
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon1.jpg" alt=""></div>
                         
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon2.jpg" alt=""></div>
                        
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon3.jpg" alt=""></div>
                        
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/dekorasyon4.jpg" alt=""></div>
                       
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/giyim1.jpg" alt=""></div>
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek1.jpg" alt=""></div>
                    
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>
                    
            </div>
            <div class="column animate-before">
                <div class="item"><img src="/static/img/yemek3.jpg" alt=""></div>        
              
            </div>
        </div>

        <!-- scroll button -->

        <button class="scroll-btn" onclick="scrollToTargetSection()">
            <div class="circle">
              <div class="arrow-down"></div>
            </div>
        </button>

    </div>

    <!-- ikinci kısım -->

    <div id="targetSection">
        <div class="content">

            <div class="section">
                <div class="d-flex justify-content-center mb-5 HTW">
                  <button class="btn-text" onclick="scrollToTargetSection()">Bu, bu şekilde işler <i class="bi bi-chevron-down"></i> </button>
                 
            </div>
        </div>

        <div class="container text-center">
            <div class="row align-items-center">
              <div class="col">
                <img class="img-fluid center" src="/static/img/yemek1.jpg" alt="" >
                <img class="img-fluid left" src="/static/img/yemek3.jpg" alt="" >
                <img class="img-fluid right" src="/static/img/yemek2.jpg" alt="" >
                <img class="img-fluid bottom" src="/static/img/yemek4.jpg" alt="">
            </div>
              
              <div class="col">
                <h1>Bir fikir arayın</h1>
                <p class="text-center ms-4">Şimdi ne denemek istersiniz? "Kolay tavuk yemeği" gibi ilgilendiğiniz bir şey düşünün ve neler bulacağınıza bakın.</p>
                <button class="bg-danger ">Keşfet</button>
              </div>
            
            </div>
          </div>

        </div>

    </div>


    <!-- üçüncü kısım- burası yarım kaldı -->
    <div class="header">
            <div class="row align-items-center">
            <div class="col">
                <h1>Beğendiğiniz fikirleri kaydedin</h1>
                <p class="text-center ms-4">En beğendiğiniz fikirlere daha sonra geri dönmek için kaydedin.</p>
                <button class="btn">Keşfet</button>
            </div>
              
            <div class="col">
                <a href=""><img class="img-fluid" src="/static/img/future.png" alt=""></a>
                <!-- <div class="">
                  <a href=""><img class="img-fluid" src="/static/img/future.png" alt="" width="400px"></a>
                  <a class="text-decoration-none text-white" href="">
                    <p class="display-4 fw-bold">fern future</p>
                    <p class="display-4 fw-bold">home vibes</p>
                    <img src="/static/img/future-home1-f4037b6b.png" alt="" width="100px">
                    <img src="/static/img/future-home2-c70a8738.png" alt="" width="100px">
                    <img src="/static/img/future-home3-ac09e50f.png" alt="" width="100px">
                  </a>
                </div>
                <div class="mb-4">
                  <a href="#"><img class="img-fluid" src="/static/img/scandinavian.png" alt="" width="260px"></a>
                  <p class="fs-4 w-25 fw-bold text-white">My scandinavian bedroom</p>
                </div>
                <div class="mb-4">
                  <a href="#"><img src="/static/img/deck.png" alt="" width="170px" height="200px"></a>
                  <p class="fs-5 fw-bold text-white w-50">The deck of my dreams</p>
                </div>
                <div class="mb-4">
                  <a href="#"><img src="/static/img/drinks.png" alt="" width="240px"></a>
                  <p class="fs-4 fw-bold text-white w-50">Serve my drinks in style</p>
                </div>
                <div class="mb-4">
                  <a href="#"><img src="/static/img/bathroom.png" alt="" width="240px"></a>
                  <p class="fs-4 fw-bold text-white w-25">Our bathroom upgrade</p>
                </div> -->
              </div>
            
            </div>
          </div>






{% endblock content %}

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<!-- Main JS -->
<script src="{% static 'main.js' %}"></script>

</body>

</html>