{% extends "homepage.html" %}
{% load static %}
{% block content %}
{% load humanize %}
{% load my_filters %}

    <div class="container mt-5 d-flex align-items-center justify-content-center">
        <div class="row border" style="border-radius: 25px;  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);">
            <div class="col-6 p-0">
                <img src="{{pins.image.url}}" width="100%" height="100%" style="border-radius: 25px 0px 0px 25px; object-fit: cover;"  alt="">
            </div>

            <div class="col-6 p-0">
                <div class="d-flex align-items-center justify-content-evenly mt-3">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle no-style" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="icon-img" src="/static/img/8666602_more_horizontal_icon.svg" alt="">
                        </button>
                        <ul class="dropdown-menu">
                            
                            <li>Görüntüyü indir</li>
                            <li>Pini gizle</li>
                            <li>Pini şikayet et</li>
                            <li>Pin yerleştirme kodunu al</li>
                            
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle no-style" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="icon-img" src="/static/img/8666724_upload_icon.svg" alt="">
                        </button>
                        <ul class="dropdown-menu">
                            
                            <li>Ara</li>
                            <li>İçe aktar</li>
                            <hr>
                            <li>WhatsApp</li>
                            <li>Messenger</li>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Bağlantıyı kopyala</li>
                            <li>E-posta</li>
                            
                        </ul>
                    </div>

                    <button class="icon-button copy-link"><img class="icon-img" src="/static/img/8666769_link_connection_icon.svg" alt=""></button>
                
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle no-style" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>{{recent_board_pin.name}} <img src="/static/img/8666558_chevron_down_icon.svg" alt=""></strong>
                        </button>
                        <ul class="dropdown-menu">
                            {% for board in boards %}
                            <li>
                                <form action="{% url 'assign_pin_to_board' pin_type pin_id 0 board.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="board_id" value="{{ board.id }}">
                                    <input type="hidden" name="pin_type" value="{{ pin_type }}">
                                    <button type="submit" class="dropdown-item">{{ board.name }}</button>
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <button class="detay-kaydet-button">Kaydet</button>
                </div>
                <div class="ms-4 mt-3 mb-3">
                    <h3>{{pins.title}}</h3>
                    <p>{{pins.description}}</p>
                    <div class="d-flex align-items-center">
                    {% for profil in profiller %}
                        <img src="{{profil.resim.url}}" width="32" height="32" class="rounded-5 me-2 style="margin-top: 10px;" alt="">
                    {% endfor %}
                    <strong class="mb-0 mt-1">{{pins.user}}</strong>
                    </div>
                </div>
                <div class="d-flex ms-4">
                    <h3 class="me-2">Yorumlar</h3> <button id="toggle-comments" style="background-color:transparent;border:none;" class="comment-button"><img src="/static/img/8666558_chevron_down_icon.svg" alt=""></button>
                </div>
                <div id="comments-section">
                    {% if comments %}
                    {% for comment in comments %}
                        <div class="d-flex align-items-center comment" data-comment-id="{{ comment.id }}">
                        {% for profil in profiller %}
                        <img src="{{profil.resim.url}}" width="32" height="32" class="rounded-5 me-2 ms-4" style="margin-top: 10px;" alt="">
                        {% endfor %}
                        <div class="d-flex">
                            <div class="d-flex flex-column">
                                <strong class="me-2 mt-1">{{comment.commenter.username}}</strong>
                                <small class="mb-0 mt-0">{{ comment.created_at|compact_naturaltime }}</small>
                            </div>
                            <div class="d-flex flex-column align-items-start">
                                <p class="mb-0 mt-1" style="overflow-wrap: break-word; word-break: break-all;">{{ comment.content }}</p>
                                <div class="d-flex">
                                    <button class="no-style" style="color:gray; transform: scale(0.9); font-weight:600;">Yanıtla</button>
                                    <button class="comment-upvote-button no-style ms-2" data-object-id="{{ comment.id }}" data-content-type="comment" style="transform: scale(0.7);"><img src="/static/img/8666647_heart_icon.svg" alt=""></button>
                                    <span class="upvote-count">{{ comment.get_upvote_count.thanks|default:0 }} </span>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle no-style ms-2" type="button" style="transform: scale(0.7);" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="/static/img/8666602_more_horizontal_icon.svg" alt="">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>Bu içeriği şikayet edin</li>
                                            <li>Kullanıcıyı engelle</li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        </div>
                    {% endfor %}

                    {% else %}
                        
                        <p style="color:gray;" class="ms-4">Henüz yorum yok! Sohbeti başlatmak için bir tane ekleyin.</p>
                        
                    {% endif %}
                </div>
                    <hr>
            <div class="add-comment-section ms-4">
                <div class="d-flex justify-content-between me-2">
                        {% if comments %}
                        <h3>{{count}} Yorum</h3>
                        {% else %}
                        <h3>Ne düşünüyorsunuz?</h3>
                        {% endif %}
                    <div class="d-flex align-items-center me-2">
                            <div class="upvote-summary me-2">
                                <ul class="d-flex m-0 p-0">
                                    {% for upvote_type in upvote_types %}
                                        <img src="{% static '/img/'|add:upvote_type.type|add:'.svg' %}" class="me-1" style="width: 25px;" alt="{{ upvote_type.type }}">
                                        <li class="me-1"  id="upvote-type-{{ upvote_type.type }}">{{ upvote_type.count }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                {% csrf_token %}
                            <button class="upvote-button no-style" data-object-id="{{ object_id }}" data-content-type="{{ content_type }}"><img src="/static/img/8666647_heart_icon.svg" alt=""></button>
                            <div class="upvote-options bg-info-subtle p-2">
                                <button class="upvote-option no-style" data-object-id="{{ object_id }}" data-content-type="pin" data-upvote-type="thanks"><img src="/static/img/thanks.svg" style="width: 50px;" alt=""></button>
                                <button class="upvote-option no-style" data-object-id="{{ object_id }}" data-content-type="pin" data-upvote-type="great"><img src="/static/img/great.svg" style="width: 50px;" alt=""></button>
                                <button class="upvote-option no-style" data-object-id="{{ object_id }}" data-content-type="pin" data-upvote-type="wow"><img src="/static/img/wow.svg" style="width: 50px;" alt=""></button>
                                <button class="upvote-option no-style" data-object-id="{{ object_id }}" data-content-type="pin" data-upvote-type="funny"><img src="/static/img/funny.svg" style="width: 50px;" alt=""></button>
                                <button class="upvote-option no-style" data-object-id="{{ object_id }}" data-content-type="pin" data-upvote-type="good"><img src="/static/img/good.svg" style="width: 50px;" alt=""></button>
                            </div>
                            </div>
                    </div>
                </div>
                    
                    <div class="d-flex flex-fill align-items-stretch me-2 p-2">
                    {% for profil in profiller %}
                        <img src="{{profil.resim.url}}" width="48" height="48" class="rounded-5" style="margin-top: 10px;" alt="">
                    {% endfor %}
                    <form method="post" id="comment-form" class="d-flex flex-grow-1" style="padding: 10px;" action="{% url 'create_comment' content_type.id pins.id %}">
                        {% csrf_token %}
                        <textarea name="content" id="comment-textarea" placeholder="Yorum ekle" style="background-color: #F0F2F5; border: none; border-radius: 25px; padding: 10px 15px; font-size: 15px; resize: none; height: 50px;  line-height: 28px;" class="form-control me-2"></textarea>
                        <input type="submit" value="Submit" style="display:none;">
                    </form> 

                    <div class="chat-utilities">
                        <div class="utility-container">
                            <ul class="utility-group">

                                <li class="emoji-selector" id="emojiSelector">
                                    <div class="input-container">
                                        <input id="emojiSearch" type="text" name="" id="" placeholder="Search...">
                                    </div>
                                    <ul id="emojiList" class="emoji-list">

                                    </ul>
                                </li>
                                <li id="emojiSelectorIcon"><img src="/static/img/2993617_emoji_emote_emoticon_emoticons_smile_icon.svg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>           
    </div>
    </div>
    <div id="message-container" style="display: none; background-color: black; color: white; position: fixed; bottom: 25%; left: 50%; transform: translate(-50%, -50%); padding: 10px; border-radius: 5px;"></div>

    <script>
        
    //Comment ekleme için enter tuşu kullanma
    const commentForm = document.querySelector('#comment-form');
    const commentTextarea = document.querySelector('#comment-textarea');
    commentTextarea.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            commentForm.submit();
        }
    });

        //Commentleri göster veya gizle butonu
    // button ve comment kısmını atama yapıyoruz
    var toggleButton = document.getElementById('toggle-comments');
    var commentSection = document.getElementById('comments-section');
    // button img degisimi icin atama yapıyoruz
    var buttonImage = toggleButton.querySelector('img');

    // buttona event listener ekliyoruz
    toggleButton.addEventListener('click', function() {
        // yorumları göster veya gizle için if statement
        if (commentSection.style.display === 'none') {
            commentSection.style.display = 'block';
            // button acıkken asagıyı gösteren img
            buttonImage.src = '/static/img/8666558_chevron_down_icon.svg'
        } else {
            commentSection.style.display = 'none';
            // button kapalıyken sag tarafı gösteren img
            buttonImage.src = '/static/img/8666777_chevron_right_arrow_icon.svg'
        }
    });

        //Bağlantıyı kopyala butonu
        //butona verdiğimiz class ismine click event listener ekliyoruz
    document.querySelector('.copy-link').addEventListener('click', function() {
        //message-container olarak belirlediğimiz boş div'i bir değişkene atıyoruz
    var messageContainer = document.querySelector('#message-container');
        //degiskene textContent ile yazı ekliyoruz
    messageContainer.textContent = 'Bağlantı paylaşılmak için panonuza kopyalandı'
        //bağlantıyı kopyalama islemini yapıyoruz
    navigator.clipboard.writeText(window.location.href);
        //hidden olan mesaj container divini display block ile görünür hale getiriyoruz
    messageContainer.style.display = 'block';
        //setTimeout ile çıkan mesaj bir süre sonra kayboluyor
    setTimeout(function() {
            messageContainer.style.display = 'none';
        }, 3000);
    });

        //Upvote fonksiyonu event listener
    $(document).ready(function () {
        $('.upvote-button').on('click', function() {
        var objectId = $(this).data('object-id');
        var contentType = $(this).data('content-type');
        var upvoteType = $(this).data('upvote-type');
    });

    $('.upvote-option').on('click', function() {
        var objectId = $(this).data('object-id');
        var contentType = $(this).data('content-type');
        var upvoteType = $(this).data('upvote-type');
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: 'POST',
            url: '/upvotes/',
            data: {object_id: objectId, content_type: contentType, type: upvoteType},
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            },
            success: function(data) {
            if (data.status === 'success') {
                data.upvote_types.forEach(function(upvote_type) {
                    var $upvoteTypeElement = $('#upvote-type-' + upvote_type.type);
                    if ($upvoteTypeElement.length) {
                        $upvoteTypeElement.text(upvote_type.count);
                    } else {
                        var $newImgElement = $('<img src="/static/img/' + upvote_type.type + '.svg" class="me-1" style="width: 25px;" alt="' + upvote_type.type + '">');
                        var $newUpvoteTypeElement = $('<li class="me-1" id="upvote-type-' + upvote_type.type + '"><strong>' + upvote_type.count + '</strong></li>');
                        $('.upvote-summary ul').append($newImgElement).append($newUpvoteTypeElement);
                    }
                });
            }
            }
        });
    });

    function updateUpvoteCount($upvoteCountElement, commentId) {
    $.ajax({
        type: 'GET',
        url: `/get-comment-upvote-count/${commentId}/`, 
        success: function(data) {
            var upvoteCount = data.upvote_count;
            $upvoteCountElement.text(upvoteCount);
        }
    });
}

    $('.comment').each(function() {
        var commentId = $(this).data('comment-id');
        var $upvoteCountElement = $(this).find('.upvote-count');
        updateUpvoteCount($upvoteCountElement, commentId);
    });

    $('.comment-upvote-button').on('click', function() {
        var objectId = $(this).data('object-id');
        var contentType = $(this).data('content-type');
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var $upvoteCountElement = $(this).closest('.comment').find('.upvote-count');
        console.log($upvoteCountElement);

        var currentUpvoteCount = parseInt($upvoteCountElement.text());
        if (isNaN(currentUpvoteCount)) {
            currentUpvoteCount = 0;
        }
        $.ajax({
            type: 'POST',
            url: '/comment-upvotes/',
            data: {object_id: objectId, content_type: contentType, upvote_type: 'comment'},
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            },
            success: function(data) {
                console.log('Updating upvote count');
                console.log($upvoteCountElement.text());
                var newUpvoteCount = currentUpvoteCount + 1;
                $upvoteCountElement.text(newUpvoteCount);
            }
        });
    });
    })

    
    </script>
    <!-- Emoji Api JS -->
    <script src="{% static 'emoji.js' %}"></script>
{% endblock content %}

