{% extends "homepage.html" %}
{% load static %}
{% load my_filters %}
{% block content %}
<div style="margin-top: 110px;"></div>
<header class="profile-header">
    {% for profil in profiller %}
    <a href="{% url 'profile' %}">
    <img class="profile-image" src="{{profil.resim.url}}" class="rounded-circle me-3 ms-0" width="80" height="80">
    </a>
    {% endfor %}
    {% comment %} <img class="profile-image" src="../media/profiller/haxx.png" alt="Profil Resmi"> {% endcomment %}
    {% for hesap in hesapBilgi %}
        <h1 class="profile-name"><b>{{hesap.isim}}</b></h1>
        <p class="profile-bio">{{hesap.websitesi|remove_https}}</p>
    {% endfor %}
    
    
    <p>13 Takip</p>
    <button><b>Paylaş</b> </button>
    <button><b>Profili Düzenle</b></button>
</header>
<div class="container">
    <div class="tabi">
        <button>Oluşturuldu</button>
        <button>Kaydedildi</button>
    </div>
</div>
<br>
<br>
<main class="profile-pins">
    <div class="pin">
        <img src="../media/pins/dekorasyon1.jpg" alt="Pin 1">
    </div>
    <div class="pin">
        <img src="../media/pins/yemek3.jpg" alt="Pin 2">
    </div>
</main>
{% endblock content %}