{% extends "homepage.html" %}
{% load static %}
{% block content %}
<header class="profile-header">
    <img class="profile-image" src="../media/profiller/haxx.png" alt="Profil Resmi">
    <h1 class="profile-name"><b>İsmail Genç</b></h1>
    <p class="profile-bio">@spartansline</p>
    <p>13 Takip</p>
    <button><b>Paylaş</b> </button>
    <button><b>Profili Düzenle</b></button>
</header>
<div class="container">
    <div class="tabi">
        <button>Oluşturuldu</button>
        <button>Kaydedildi</button>
    </div>
</div>
<br>
<br>
<main class="profile-pins">
    <div class="pin">
        <img src="../media/pins/dekorasyon1.jpg" alt="Pin 1">
    </div>
    <div class="pin">
        <img src="../media/pins/yemek3.jpg" alt="Pin 2">
    </div>
</main>
{% endblock content %}