{% extends "index.html" %}
{% load static %}
{% block content %}
    <div class="container register-container">
    <div class="row">
    <div class="col-md-6 offset-md-3">
    <h1 class="text-center">Pinterest'e Hoşgeldiniz</h1>
    <p class="text-center">Denemek için yeni fikirler bulun.</p>
    <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-danger">Devam Et</button>
    </div>
    </form>
    <p class="text-center">Üye misiniz? <a href="{% url 'login' %}">Oturum Aç</a></p>
    <p class="text-center">Ücretsiz iş hesabı oluşturun<a href="/business">Buradan</a></p>
    </div>
    </div>
    </div>
{% endblock content %}
